:root {
	--font-family: 'GFS Didot', serif;
	/* 'Source Code Pro', monospace; */

	--font-body: var(--font-family);
	--font-mono: 'Fira Mono', monospace;
	--color-theme-dark-blue: #191970;
	--color-theme-pink: #f72585;
	--color-theme-purple: #5407d9;

	--color-theme-purple-d: #2f0479;
	--color-theme-purple-v: #b3a6c9;
	--color-theme-purple-light: #bc96fd;
	/* #b3a6c9 */
	--grex-700-hex: 64, 65, 69;
	--grex-600-hex: 96, 98, 102;
	--grex-500-hex: 126, 128, 133;
	--grex-400-hex: 159, 161, 166;
	--grex-300-hex: 186, 189, 194;
	--grey-200-hex: 213, 215, 219;
	--grey-100-hex: 232, 234, 237;
	--color-p-light-rgb: #cf0000;
	--color-paladin-1: #f0f5f9;
	--color-paladin-2: #c9d6df;
	--color-paladin-3: #52616b;
	--color-paladin-4: #444;
	--color-paladin-5: #1e2922;
	--blue: #3a6df0;
	--color-text: #2f2828b3;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--spacing-unit: 5px;
	--font-size: 16px;
	--hover-background-cover: var(--color-paladin-1);

	--white: #30303030;
	--black: #303030;

	--body-color: #30303030;

	color: var(--color-text);
	font-family: var(--font-family);
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		[style*='--tag'] {
			view-transition-name: var(--tag);
		}
	}
}

.external-link::after {
	display: none !important;
	text-decoration: none;
}

body {
	margin: 0;
	background-color: var(--body-color);

	/* #d5b7a72e; */
	/* #fff4ea; */
	padding: 0;
	line-height: 1.5;
	font-size: 1rem;
}

a {
	transition: color 0.3s ease;
	text-decoration: none;
	color: var(--color-theme-purple) !important;
}

a:hover {
	text-decoration: underline;
	color: var(--accent-color);
}

pre {
	border-radius: 3px;
	box-shadow: 2px 2px 6px #ffffff40;
	background-color: #ffffff73;
	padding: 0.5em;
	overflow-x: auto;
	color: #2f2828b3;
	color: var(--color-text);
	font-family: 'Fira Mono', monospace;
	font-family: var(--font-mono);
	font-size: 16px;
}

.text-column {
	display: flex;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 48rem;
}

input,
button {
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
}

.visually-hidden {
	position: absolute;
	margin: 0;
	border: 0;
	padding: 0;
	width: 1px;
	height: auto;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0 0 0 0);
}

.hidden {
	visibility: hidden;
}

body::-webkit-scrollbar {
	width: 1rem;
}

body::-webkit-scrollbar-track {
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
	outline: 0.2rem solid var(--color-paladin-3);
	border-radius: 5px;
}

.firstLetter::first-letter {
	color: #5407d9;
	font-size: 1.5rem;
	font-weight: 700;
}

.txt-white {
	text-shadow: 1px 1px 1px #000;
	color: var(--white);
	color: var(--color-paladin-1);
}

.txt-dark {
	text-shadow: 1px 1px 1px var(--color-paladin-2);
	text-shadow: 1px 1px 1px var(--color-theme-purple-v);
	color: #52616b;
	color: var(--color-paladin-3);
}

.bold-shadow {
	text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -1px -1px 0 var(--color-theme-purple), 1px -1px 0 var(--color-theme-purple),
		-1px 1px 0 #000, 1px 1px 0 #000;
}

details {
	border-top: 2px solid var(--color-paladin-2);
	border-top: 2px solid var(--color-theme-purple-v);
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: 2px solid var(--color-paladin-2);
	border-left: 2px solid var(--color-theme-purple-v);
}

details:hover {
	border: 2px solid var(--color-paladin-2);
	border: 2px solid var(--color-theme-purple-v);
}

figcaption {
	font-size: 0.75rem;
	font-style: italic;
}

.loader {
	box-sizing: border-box;
	display: inline-block;
	border: 5px solid #fff;
	border-radius: 50%;
	border-bottom-color: transparent;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.panel {
	background-color: #f0f5f9;
	background-color: var(--color-paladin-1, white);
	padding: 18px;
	overflow: hidden;
}

article {
	margin-top: 0.5rem;
	border-radius: 5px;
	padding: 0.5rem;
}

.accordion {
	transition: 0.4s;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	text-align: left;
	color: #444;
	color: var(--color-paladin-4);
	font-size: 15px;
}

.accordion:hover {
	background-color: var(--color-paladin-2);
	background-color: var(--color-theme-purple-v);
	color: #000;
	color: var(--color-theme-purple);
}

.section-content {
	flex: 1;
	transition: transform 0.7s ease-in-out;
	margin: 10px;
	padding: 10px;
}

.section-meta {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 1s ease-in-out;
	transition-timing-function: linear;
	margin: 10px;
	border: var(--classic-border);
	border-radius: 5px;
	padding: 10px;
	width: 10%;
	max-height: 10rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.scroll-table {
	overflow-x: scroll;
}

tr {
	border: var(--classic-border);
	text-align: center;
}

td {
	border: var(--classic-border);
	text-align: center;
}

th {
	border: var(--classic-border);
	padding: 0.5rem;
	text-align: center;
}

.scroll-table::-webkit-scrollbar {
	width: 1rem;
}

.scroll-table::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: 0 0 0.2rem var(--color-paladin-3);
}

.scroll-table::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--color-paladin-3);
}

.scrollable-div {
	overflow-y: scroll;
	overscroll-behavior-y: contain;
}

.scrollable-div::-webkit-scrollbar {
	width: 1rem;
}

.scrollable-div::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: 0 0 0.2rem var(--color-paladin-3);
}

.scrollable-div::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--color-paladin-3);
}

.main a {
	color: #260958;
}

.blog a {
	display: inline-block;
	flex-wrap: wrap;
	max-width: 100%;
	overflow: hidden;
	vertical-align: middle;
	color: #260958;
}

.blog a::after {
	display: inline-block;
	border-radius: 5px;
	background-image: url('/icons/arrow.svg');
	background-size: 1em 1em;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	content: '';
}

textarea {
	margin-bottom: 20px;
	border: hsl(212deg 15% 48%) 1px solid;
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
	color: hsl(222deg 15% 19%);
	font-size: 16px;
}

.interaction-div-display {
	display: flex;
	overflow: hidden;
}

.interaction-div-display button {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	margin: 0 0 0.25rem 0.25rem;
	outline: none;
	border: 1px solid var(--color-paladin-1);
	border-radius: 5px;
	background-color: var(--color-paladin-1);
	cursor: pointer;
	font-size: 0.75rem;
}

/* Change background color of buttons on hover */
.interaction-div-display button:hover {
	border: 1px solid var(--color-paladin-2);
	border-radius: 5px;
	background-color: var(--color-paladin-2);
}

.interact-text-container {
	position: relative;
	width: 100%;
	height: 100px;
}

.interact-textbox {
	box-sizing: border-box;

	/* max-width: 900px; */

	position: relative;
	border-radius: 5px;
	padding: 1rem;
	width: 100%;
}

.shimmer-button {
	background-image: linear-gradient(
		-60deg,
		transparent 0%,
		transparent 40%,
		#ffffff44 40%,
		#ffffff44 60%,
		transparent 60%,
		transparent 100%
	);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position-x: 150%;
}

.shimmer-button:hover {
	background-position-x: -150%;
	transition: background-position-x 1000ms;
}

.blog > h2,
.blog > h3,
.blog > h4 {
	margin: 1.5rem 0 0 !important;
	padding: 1.5rem 0 0 !important;
}

@media all and (width <=576px) {
	.interaction-div-display {
		gap: 0.25rem;
		margin: 0.25rem;
	}

	.interaction-div-display button {
		flex: 1;
		margin: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
	}

	h1 {
		line-height: 1;
		font-size: 1.5rem;
		text-wrap: balance;
	}

	h2 {
		line-height: 1;
		font-size: 1.3rem;
		text-wrap: balance;
	}

	h3 {
		line-height: 1;
		font-size: 1.2rem;
		text-wrap: balance;
	}

	h4 {
		line-height: 1;
		font-size: 1.1rem;
		text-wrap: balance;
	}

	p {
		margin-top: 0;
		margin-bottom: 0.8rem;
	}

	.blog > h2,
	.blog > h3,
	.blog > h4 {
		padding: 1.5rem 0 1rem 0 !important;
	}
}

.noticia-text-regular {
	font-family: "Noticia Text", serif !important;
	font-weight: 400;
	font-style: normal;
  }